services:
  db:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 02022006
      POSTGRES_DB: filmes
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data